<!-- views/layouts/partials/header.handlebars -->

<header>
    <h1>Mi Aplicación</h1>
    <nav>
        <ul>
            <li><a href="/home">Inicio</a></li>
            <li><a href="/allproducts">Todos los productos</a></li>
            <!-- Agrega más enlaces según tus necesidades -->
        </ul>
    </nav>
</header>
